@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


*{
    font-family: "Geist", sans-serif;
}

/* color  */
.text-green{
    color: #244D3F;
}
.gray{
    color: #64748B;
}
.bg-green{
    background-color: #244D3F;
    color: white;
}

.yellow{
    color: white;
    background-color: #EFAD44;
}
.red{
    color: white;
    background-color: #EF4444;
}